flows/Reseller_Distributor.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Inform_Distributor</name>
        <label>Inform Distributor</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>DistributorChatterPost</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <constants>
        <name>Distributor_Lookup_Label</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Select Distributor</stringValue>
        </value>
    </constants>
    <constants>
        <name>DistributorPOst</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Here is your quote</stringValue>
        </value>
    </constants>
    <formulas>
        <name>DistributorChatterPost</name>
        <dataType>String</dataType>
        <expression>&quot;@Distributor this quote requires your attention&quot;</expression>
    </formulas>
    <interviewLabel>Reseller -&gt; Distributor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reseller -&gt; Distributor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Quote</name>
        <label>Update Quote</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Inform_Distributor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Distributor_Request_Details__c</field>
            <value>
                <elementReference>Distributor_Request_Form_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EditLinesFieldSetName__c</field>
            <value>
                <stringValue>Distributor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HeaderFieldSetName__c</field>
            <value>
                <stringValue>Partner</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Status__c</field>
            <value>
                <stringValue>Distributor- Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Distributor__c</field>
            <value>
                <elementReference>Distributor_Lookup_Component.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <screens>
        <name>Distributor_Request_Form</name>
        <label>Distributor Request Form</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Quote</targetReference>
        </connector>
        <fields>
            <name>Distributor_Lookup_Component</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>SBQQ__Distributor__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Distributor Lookup</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>SBQQ__Quote__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Distributor_Request_Form_Input</name>
            <dataType>String</dataType>
            <fieldText>Distributor Request Details</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Distributor_Request_Form</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Distributor_Lookup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
